* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: #282D35;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

nav {
    background-color: #21222A;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}

a {
    text-decoration: none;
    color: #DEEBF8;
}

main {
    background-color: #282D35;
}

main > div > h1 {
    color: white;
    font-size: 2.5rem;
    padding: 2em 0;
    font-weight: 700;
}

li {
    color: #fff;
    margin-left: 4rem;
    line-height: 2;
    font-weight: 400;
}

li::marker {
    color: #61DAFB;
    font-size: 2rem;
}